[workspace]
resolver = "2"

members = [
	"bevy_ghx_destruction", # Bevy plugin
	"examples",             # Bevy plugin examples
]

# Enable a small amount of optimization in debug mode
[profile.dev]
opt-level = 1

# Enable high optimizations for dependencies (incl. Bevy), but not for our code:
[profile.dev.package."*"]
opt-level = 3
